/* setting standards in body */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,300&display=swap');

body {
    font-family: 'Roboto';
    margin: 0;
}

body a:link {
    color: silver;
    text-decoration: none;
}

body a:hover {
    text-decoration: underline;
}

body a:visited {
    color: silver;
}

/* sites design using flexbox for responsive design */

/* navigation bar style */
#navigation {
    display: flex;
    justify-content: space-between; /*setting the boxes apart */
    margin: 8px;
    height: 50px;
    min-width: 360px;
}

#navigation div a {
    margin: 0 5px;
    text-decoration: none;
}

#navigation div a:link {
    color: silver;
}

#navigation div a:visited {
    color: silver;
}

#navigation div a:hover {
    text-decoration: underline;
}

#navigation div button {
    margin: 0 5px;
    background-color: royalblue;
    color: white;
    border-radius: 5px;
}


/* sites content style */
.container {
    display: flex;
    justify-content: center;
}

.container-column {
    display: flex;
    padding: 1% 45px;
    flex-direction: column;
}

.container-space {
    display: flex;
    justify-content: space-between;
    padding-top: 50%;
}


.logo {
    margin-top: 5%;
}

.search {
    padding: 1% 0;
}

input {
    width: 300px;
    font-family: 'Roboto';
    border: 1px solid gainsboro;
    height: 25px;
    border-radius: 5%;
}

.buttons {
    padding: 1% 0;
}

.language {
    margin-top: 1%;
}

.language ul {
    list-style-type: none;
}
.language ul li {
    display: inline;
}

#bottom {
    position: fixed;
    bottom: 0;
    height: auto;
    width: 100%;
    background: whitesmoke;
    border-top: 1px solid gainsboro;
}

.bbar {
    height: auto;
    border-bottom: 1px solid gainsboro;
    padding: 5px;
}

.bbar span {
    color: silver;
    margin: 5px;
}

.bleft {
    float: left;
    margin-left: 5px;
}

.bleft a {
    display: inline-block;
    padding: 5px;
}

.bright {
    float: right;
    margin-right: 5px;
}

.bright a {
    display: inline-block;
    padding: 5px;
}

#login {
    height:500px;
    width: 400px;
    margin: auto;
    margin-top: 20%;
    border: 1px solid gainsboro;
    border-radius: 5%;
    padding: 10px;
}

#login h1 {
    margin: 2%;
}

#login a {
    color: blue;
    font-weight: bold;
}

#login a:visited {
    color: blue;
    font-weight: bold;
}

#login div {
    margin: 5px;
}
